SPEECHMATICS_API_KEY=
THYMIA_API_KEY=

SUPABASE_URL=https://xpojuajjdbbufhwmyook.supabase.co
SUPABASE_ANON_PUBLIC=
SUPABASE_SERVICE_ROLE=
SUPABASE_CONNECTION_STRING=postgresql://postgres:...@db.xpojuajjdbbufhwmyook.supabase.co:5432/postgres

NEXT_PUBLIC_SUPABASE_URL=https://xpojuajjdbbufhwmyook.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_PIPELINE_WS_URL=ws://localhost:8787/ws/checkin
